<div class="container-fluid">
  <div class="row">
    <!-- TODO show off an offcanvas -->
    <div class="col-3">
      <div id="dndSpellsList" class="scroll">
      </div>
    </div>
    <div id="spellDetails" class="col-6 scroll">
      <!-- STUB details template -->
      <!-- <div class="p-3">
        <h1>Talk to Cats</h1>
        <p class="fs-4">Level 7 Cat spell with 2000 kilometers range</p>
        <p class="fs-4">This is a ritual spell that will need bat poop</p>
        <p class="fs-4">Concentration required with a casting time of 1 year that will last 3 years</p>
        <p class="fs-4">S V G</p>
        <p class="fs-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, officiis.</p>
      </div> -->
    </div>
    <div class="col-3">
      <div class="text-center fw-bold">
        <p><span id="preparedSpellCount">0 / 0</span> Spells Prepared</p>
      </div>
      <div id="mySpellsList" class="scroll">
      </div>
    </div>
  </div>
</div>